body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #37c599;
}

header{
    height: 265px;
    overflow: hidden;
}

header img {
    width: 100%;
}

#calculator {
    background-color: #f7f6f4;
    width: 360px;
    height: 530px;
    padding: 20px 10px 10px 10px;
    text-align: center;
    position: absolute;
    top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result {
    height: 90px;
    width: 347px;
    margin: 0 0 12px 0;
    padding-right: 10px;
    font-size: 70px;
    text-align: right;
    color: #FFFFFF;
    background: #6dd16d;
}

button:focus {
    outline: none;
}

#integer-body {
    float: left;
    width: 270px;
}

.integer, .decimal {
    height: 80px;
    width: 87px;
    margin: 0;
    font-size: 55px;
    color: #FFFFFF;
    background-color: #8d8d8d;
}

.integer:active, .decimal:active {
    background-color: #727171;
}

.clear {
    height: 80px;
    width: 270px;
    margin: 0 0 10px 0;
    font-size: 35px;
    color: #FFFFFF;
    background-color: #db3939;
    border-radius: 5px;
}

.clear:active {
    background-color: #af1919;
}

.equals {
    height: 80px;
    width: 87px;
    margin: 0;
    font-size: 55px;
    color: #FFFFFF;
    background-color: #fcac19;
}

.equals:active {
    background-color: #ff9900;
}

#operator-body {
    float: right;
    width: 87px;
}

.operator {
    height: 102.5px;
    width: 82px;
    font-size: 40px;
    background-color: #686868;
}

.operator:active {
    background-color: #464545
}