.clear {grid-area: clear;}
.integer9 {grid-area: integer9;}
.integer8 {grid-area: integer8;}
.integer7 {grid-area: integer7;}
.integer6 {grid-area: integer6;}
.integer5 {grid-area: integer5;}
.integer4 {grid-area: integer4;}
.integer3 {grid-area: integer3;}
.integer2 {grid-area: integer2;}
.integer1 {grid-area: integer1;}
.integer0 {grid-area: integer0;}
.decimal {grid-area: decimal;}
.equals {grid-area: equals;}

body {
    background-color: #37c599;
    display: flex;
    justify-content: center;
}

header{
    height: 265px;
    overflow: hidden;
}

header img {
    width: 100%;
}

#calculator {
    margin: 0 auto;
    position: absolute;
    top: 100px;
    background-color: #f7f6f4;
    width: 360px;
    height: 530px;
    padding: 20px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result {
    height: 90px;
    width: 347px;
    margin: 0 0 12px 0;
    padding-right: 10px;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: #FFFFFF;
    background: #6dd16d;
}

button:focus {
    outline: none;
}

#integer-body {
    float: left;
    display: grid;
    grid-template-areas:
    'clear clear clear'
    'integer9 integer8 integer7'
    'integer6 integer5 integer4'
    'integer3 integer2 integer1'
    'decimal integer0 equals';
}

.integer, .decimal {
    height: 80px;
    width: 87px;
    margin: 0;
    font-size: 55px;
    color: #FFFFFF;
    background-color: #8d8d8d;
}

.integer:active, .decimal:active {
    background-color: #727171;
}

.clear {
    height: 80px;
    width: 270px;
    margin: 0 0 10px 0;
    font-size: 35px;
    color: #FFFFFF;
    background-color: #db3939;
    border-radius: 5px;
}

.clear:active {
    background-color: #af1919;
}

.equals {
    height: 80px;
    width: 87px;
    margin: 0;
    font-size: 55px;
    color: #FFFFFF;
    background-color: #fcac19;
}

.equals:active {
    background-color: #ff9900;
}

#operator-body {
    float: right;
    width: 87px;
}

.operator {
    height: 102.5px;
    width: 82px;
    font-size: 40px;
    background-color: #686868;
}

.operator:active {
    background-color: #464545
}